@charset "UTF-8";
/***********************共通設定************************/
#siteHead {
  position: fixed;
  width: 100%;
  z-index: 100; }

#main {
  background: #fff;
  margin: 0 auto;
  padding: 120px 0 0;
  overflow-x: hidden;
  /* 1450以下  */ }
  @media all and (max-width: 1450px) {
    #main {
      padding: 80px 0 0; } }

.pageHead_inner {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .pageHead_inner .logo {
    width: 220px;
    height: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: white;
    /* 1450以下  */ }
    @media all and (max-width: 1450px) {
      .pageHead_inner .logo {
        width: calc(100% - 120px);
        height: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    .pageHead_inner .logo h1 {
      /* 1450以下  */
      padding: 0px 10px; }
      @media all and (max-width: 1450px) {
        .pageHead_inner .logo h1 {
          width: 120px; } }
    .pageHead_inner .logo > div {
      /* 1450以下  */
      padding: 0px 10px; }
      @media all and (max-width: 1450px) {
        .pageHead_inner .logo > div {
          width: 120px; } }

nav {
  background: #8E765E;
  width: calc(100% - 350px); }

.login a {
  background: #6E5640;
  width: 130px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 62px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 0 0 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  letter-spacing: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  /* 1450以下  */ }
  @media all and (max-width: 1450px) {
    .login a {
      height: 55px;
      width: 60px;
      font-size: 12px;
      padding: 0px 0 5px; } }
  .login a::before {
    content: "";
    position: absolute;
    background-image: url(../images/icon_login.png);
    background-size: cover;
    width: 18px;
    height: 20px;
    top: 17px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    /* 1450以下  */ }
    @media all and (max-width: 1450px) {
      .login a::before {
        top: 10px; } }
  .login a:hover {
    /* 1451以上  */ }
    @media all and (min-width: 1451px) {
      .login a:hover {
        background: #8E765E; }
        .login a:hover::before {
          top: 22px; } }

#nav {
  /* 1450以下  */ }
  #nav ul.nav_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0 0 30px; }
    #nav ul.nav_menu li {
      margin: 0 10px;
      list-style: none; }
      #nav ul.nav_menu li a {
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 62px;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: end;
        padding: 0 0 10px;
        position: relative; }
        #nav ul.nav_menu li a::after {
          content: "";
          position: absolute;
          width: 0%;
          height: 1px;
          background: #fff;
          bottom: 12px;
          left: 0px;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s; }
        #nav ul.nav_menu li a:hover::after {
          width: 100%; }
  @media all and (max-width: 1450px) {
    #nav {
      display: none; } }

/*----------------------------------------------------
ハンバーガーメニュー
----------------------------------------------------*/
.menu-trigger {
  position: relative;
  width: 60px;
  height: 60px;
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background: #6E5640;
  /* 1451以上  */ }
  @media all and (min-width: 1451px) {
    .menu-trigger {
      display: none; } }
  .menu-trigger span {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 18px;
    width: 24px;
    height: 3px;
    background-color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .menu-trigger span:nth-of-type(1) {
      top: 21px;
      -webkit-animation: menu-bar01 .75s forwards;
      animation: menu-bar01 .75s forwards; }
    .menu-trigger span:nth-of-type(2) {
      top: 29px;
      -webkit-transition: all .25s .25s;
      -o-transition: all .25s .25s;
      transition: all .25s .25s;
      opacity: 1; }
    .menu-trigger span:nth-of-type(3) {
      top: 37px;
      -webkit-animation: menu-bar02 .75s forwards;
      animation: menu-bar02 .75s forwards; }
  .menu-trigger.active span:nth-of-type(1) {
    -webkit-animation: active-menu-bar01 .75s forwards;
    animation: active-menu-bar01 .75s forwards; }
  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0; }
  .menu-trigger.active span:nth-of-type(3) {
    -webkit-animation: active-menu-bar03 .75s forwards;
    animation: active-menu-bar03 .75s forwards; }

@-webkit-keyframes menu-bar01 {
  0% {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg); }
  50% {
    -webkit-transform: translateY(8px) rotate(0);
    transform: translateY(8px) rotate(0); }
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0); } }

@keyframes menu-bar01 {
  0% {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg); }
  50% {
    -webkit-transform: translateY(8px) rotate(0);
    transform: translateY(8px) rotate(0); }
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0); } }

@-webkit-keyframes menu-bar02 {
  0% {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg); }
  50% {
    -webkit-transform: translateY(-8px) rotate(0);
    transform: translateY(-8px) rotate(0); }
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0); } }

@keyframes menu-bar02 {
  0% {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg); }
  50% {
    -webkit-transform: translateY(-8px) rotate(0);
    transform: translateY(-8px) rotate(0); }
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0); } }

@-webkit-keyframes active-menu-bar01 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0); }
  50% {
    -webkit-transform: translateY(8px) rotate(0);
    transform: translateY(8px) rotate(0); }
  100% {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg); } }

@keyframes active-menu-bar01 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0); }
  50% {
    -webkit-transform: translateY(8px) rotate(0);
    transform: translateY(8px) rotate(0); }
  100% {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg); } }

@-webkit-keyframes active-menu-bar03 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0); }
  50% {
    -webkit-transform: translateY(-8px) rotate(0);
    transform: translateY(-8px) rotate(0); }
  100% {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg); } }

@keyframes active-menu-bar03 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0); }
  50% {
    -webkit-transform: translateY(-8px) rotate(0);
    transform: translateY(-8px) rotate(0); }
  100% {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg); } }

/*----------------------------------------------------
ハンバーガーメニューの内部
----------------------------------------------------*/
#gNav {
  font-weight: bold;
  position: absolute;
  top: -400vh;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6E5640;
  z-index: -1;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  /* 1451以上  */ }
  #gNav.active {
    top: 60px;
    height: 100vh;
    overflow: scroll; }
  @media all and (min-width: 1451px) {
    #gNav {
      display: none; } }

.gNav_inner {
  height: 110vh;
  padding: 20px 0 20px;
  text-align: left; }
  .gNav_inner .nav_menu {
    padding: 0 60px;
    font-size: 20px;
    /* 750以下  */ }
    @media all and (max-width: 750px) {
      .gNav_inner .nav_menu {
        font-size: 16px; } }
    .gNav_inner .nav_menu a {
      color: #fff; }
  .gNav_inner .nav_menu_com {
    margin: 50px 0 0;
    padding: 0 60px;
    font-size: 18px;
    /* 750以下  */ }
    @media all and (max-width: 750px) {
      .gNav_inner .nav_menu_com {
        font-size: 14px; } }
    .gNav_inner .nav_menu_com a {
      color: #F1EBDC; }
  .gNav_inner li {
    margin: 20px 0;
    /* 750以下  */ }
    @media all and (max-width: 750px) {
      .gNav_inner li {
        margin: 15px 0; } }

main {
  padding: 72px 0 0;
  /* 1450以下  */ }
  @media all and (max-width: 1450px) {
    main {
      padding: 60px 0 0; } }

/*----------------------------------------------------
loader
----------------------------------------------------*/
#loaderBg {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 10000;
  background: #8E765E; }

@-webkit-keyframes slideOut {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }

@keyframes slideOut {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  pointer-events: none; }
  #loader .loader-slide {
    width: 100%;
    height: 100%; }
    #loader .loader-slide.open {
      -webkit-animation-name: fadeOut;
      animation-name: fadeOut;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s; }

.load_logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  /* 751以上 */
  /* 750以下  */ }
  @media all and (min-width: 751px) {
    .load_logo {
      width: 360px;
      left: 50%;
      margin-left: -180px; } }
  @media all and (max-width: 750px) {
    .load_logo {
      width: 240px;
      left: 50%;
      margin-left: -120px; }
      .load_logo img {
        width: 80%; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

/*----------------------------------------------------
フッター
----------------------------------------------------*/
footer {
  background: #6E5640; }

.footer_nav_wrap {
  max-width: 1250px;
  margin: 0 auto;
  padding: 40px 20px;
  /* 901以上  */ }
  @media all and (min-width: 901px) {
    .footer_nav_wrap {
      padding: 60px 20px; } }

.footer_top {
  /* 901以上  */ }
  @media all and (min-width: 901px) {
    .footer_top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

.footer_logo {
  padding: 0 20px;
  max-width: 270px;
  margin: 0 auto 40px;
  /* 901以上  */ }
  @media all and (min-width: 901px) {
    .footer_logo {
      width: 270px;
      padding: 20px 0 0; } }

.footer_nav {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* 901以上  */ }
  @media all and (min-width: 901px) {
    .footer_nav {
      width: calc(100% - 270px);
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .footer_nav ul {
    margin: 0 8% 0 0; }
    .footer_nav ul:last-child {
      margin: 0; }
  .footer_nav li {
    margin: 5px; }
  .footer_nav a {
    color: #fff;
    padding: 7px 0;
    display: block;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 15px;
    /* 900以下  */ }
    @media all and (max-width: 900px) {
      .footer_nav a {
        font-size: 13px; } }
    .footer_nav a::after {
      content: "";
      position: absolute;
      width: 0%;
      height: 1px;
      background: #fff;
      bottom: 10px;
      left: 0px;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    .footer_nav a:hover::after {
      width: 100%; }
  .footer_nav.pc {
    /* 900以下  */ }
    @media all and (max-width: 900px) {
      .footer_nav.pc {
        display: none; } }
  .footer_nav.sp {
    /* 901以上  */ }
    @media all and (min-width: 901px) {
      .footer_nav.sp {
        display: none; } }

.footer_bottom {
  /* 901以上  */ }
  @media all and (min-width: 901px) {
    .footer_bottom {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 100px 0 0; } }

.company_nav {
  /* 900以下  */ }
  @media all and (max-width: 900px) {
    .company_nav {
      font-size: 11px;
      margin: 20px 0 20px 5px;
      line-height: 2em; } }
  .company_nav ul {
    /* 901以上  */ }
    @media all and (min-width: 901px) {
      .company_nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
  .company_nav li {
    margin: 0 20px 0 0; }
  .company_nav a {
    color: #F1EBDC;
    display: block;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
    .company_nav a::after {
      content: "";
      position: absolute;
      width: 0%;
      height: 1px;
      background: #F1EBDC;
      bottom: 0px;
      left: 0px;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    .company_nav a:hover::after {
      width: 100%; }

.copy {
  font-size: 11px;
  margin: 0 0 0 auto;
  color: #F1EBDC;
  /* 901以上  */ }
  @media all and (min-width: 901px) {
    .copy {
      font-size: 14px; } }

/*-------------------------------------------*/
/* COMMON(サイト基本設定)                      */
/*-------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-style: normal; }

body {
  /* for iOS */
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden; }

img {
  /* for Chrome */
  -webkit-backface-visibility: hidden; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  width: 100%;
  color: #000;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0px;
  /* 750以下  */ }
  @media all and (max-width: 750px) {
    body {
      font-size: 12px; } }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2; }

section {
  display: block; }

a {
  outline: none;
  text-decoration: none; }

a:link {
  text-decoration: none; }

img {
  width: 100%;
  height: auto;
  vertical-align: top; }

a img {
  border: none; }

ul, li {
  list-style: none; }

input, label, select, textarea {
  vertical-align: middle; }

/* 750以下  */
@media all and (max-width: 750px) {
  html,
  body {
    height: auto;
    overflow-x: hidden; } }

/* 751以上 */
@media all and (min-width: 751px) {
  html,
  body {
    height: 100%; }
  body {
    min-height: 100%;
    height: auto !important; } }

.nowrap {
  white-space: nowrap; }

.br_pc {
  display: inline;
  /* 750以下  */ }
  @media all and (max-width: 750px) {
    .br_pc {
      display: none; } }

.br_sp {
  display: none;
  /* 750以下  */ }
  @media all and (max-width: 750px) {
    .br_sp {
      display: inline; } }

/*----------------------------------------------------
サブページ共通
----------------------------------------------------*/
.title_bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 230px;
  background-color: #F1EBDC;
  /* 750以下  */ }
  @media all and (max-width: 750px) {
    .title_bg {
      height: 160px; } }

.pagetitle {
  color: #8E765E; }

.pagetitle span {
  display: block;
  margin-bottom: 10px;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size: 20px;
  /* 750以下  */ }
  @media all and (max-width: 750px) {
    .pagetitle span {
      font-size: 15px; } }

.pagetitle h1 {
  font-size: 40px;
  font-weight: bold;
  /* 750以下  */ }
  @media all and (max-width: 750px) {
    .pagetitle h1 {
      font-size: 26px; } }

/*----------------------------------------------------
料金
----------------------------------------------------*/
.price_wrapper {
  max-width: 920px;
  padding: 0 20px;
  margin: 70px auto 80px auto;
  /* 750以下  */ }
  @media all and (max-width: 750px) {
    .price_wrapper {
      margin: 40px auto 70px auto; } }

.price_wrapper h2 {
  margin-bottom: 60px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.12em;
  line-height: 75px;
  background-color: #6E5640;
  color: #fff;
  /* 750以下  */ }
  @media all and (max-width: 750px) {
    .price_wrapper h2 {
      margin-bottom: 30px;
      font-size: 17px;
      line-height: 56px; } }

.price_about {
  margin-bottom: 110px;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.87em;
  color: #1A1311;
  /* 750以下  */ }
  @media all and (max-width: 750px) {
    .price_about {
      margin-bottom: 77px;
      font-size: 13px;
      letter-spacing: 0;
      line-height: 2em; } }

.price_about p:not(:last-child) {
  margin-bottom: 35px; }

.pricelist {
  margin-top: 70px;
  /* 750以下  */ }
  @media all and (max-width: 750px) {
    .pricelist {
      margin-top: 50px; } }

.pricelist h3 {
  margin-bottom: 30px;
  padding-left: 15px;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.05em;
  /* 750以下  */ }
  @media all and (max-width: 750px) {
    .pricelist h3 {
      font-size: 20px; } }

.pricelist p {
  margin-bottom: 30px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  color: #4B4B4B;
  /* 750以下  */ }
  @media all and (max-width: 750px) {
    .pricelist p {
      font-size: 13px;
      line-height: 1.85em; } }

.price_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  min-height: 100px;
  margin-bottom: 20px;
  /* 750以下  */ }
  @media all and (max-width: 750px) {
    .price_menu {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column; } }

.price_type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 144px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  /* 750以下  */ }
  @media all and (max-width: 750px) {
    .price_type {
      width: 100%;
      height: 38px;
      font-size: 14px; } }

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 33px;
  width: 317px;
  text-align: left;
  line-height: 1.2;
  color: #1A1311;
  /* 750以下  */ }
  @media all and (max-width: 750px) {
    .price {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: start;
      margin: 25px 0 15px 22px;
      width: calc(100% - 22px); } }

.price_text {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-bottom: 5px; }

.price_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 35px 35px 35px 0px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #4B4B4B;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /* 750以下  */ }
  @media all and (max-width: 750px) {
    .price_detail {
      margin: 0 22px 28px 22px;
      font-size: 13px; } }

.joint {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* 750以下  */ }
  @media all and (max-width: 750px) {
    .col {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column; } }

.col:not(:last-child) {
  border-bottom: 1px solid #B0CB40; }

.annotation {
  margin: 40px 0 70px 0;
  color: #4B4B4B;
  text-align: left;
  /* 750以下  */ }
  @media all and (max-width: 750px) {
    .annotation {
      margin: 30px 0 80px 0;
      font-size: 12px;
      line-height: 1.83em; } }

.robo {
  font-family: 'Roboto', sans-serif; }

.mont {
  font-family: 'Montserrat', sans-serif; }

.bold {
  font-weight: bold; }

.large {
  font-size: 32px;
  /* 750以下  */ }
  @media all and (max-width: 750px) {
    .large {
      font-size: 36px; } }

.small {
  font-size: 16px; }

.blue h3 {
  border-left: 10px solid #6E5640; }

.blue .price_menu {
  border: 1px solid #6E5640; }

.blue .price_type {
  background-color: #6E5640; }

.blue .price_text {
  color: #6E5640; }

.sky h3 {
  border-left: 10px solid #22A8AC; }

.sky .price_menu {
  border: 1px solid #22A8AC; }

.sky .price_type {
  background-color: #22A8AC; }

.sky .price_text {
  color: #22A8AC; }

.green h3 {
  border-left: 10px solid #B0CB40; }

.green .price_menu {
  border: 1px solid #B0CB40; }

.green .price_type {
  background-color: #B0CB40; }

.green .price_text {
  color: #B0CB40; }

/*----------------------------------------------------
プライバシーポリシー
----------------------------------------------------*/
.policy_wrapper {
  max-width: 1000px;
  padding: 0 20px;
  margin: 80px auto 80px auto;
  /* 750以下  */ }
  @media all and (max-width: 750px) {
    .policy_wrapper {
      margin: 50px auto 60px auto; } }

.privacypolicy {
  margin-bottom: 60px;
  text-align: left;
  /* 750以下  */ }
  @media all and (max-width: 750px) {
    .privacypolicy {
      margin-bottom: 37px; } }

.privacypolicy h2 {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.18em;
  letter-spacing: 0.05em;
  /* 750以下  */ }
  @media all and (max-width: 750px) {
    .privacypolicy h2 {
      font-size: 13px;
      line-height: 2em; } }

.privacypolicy p {
  line-height: 2.14em;
  /* 750以下  */ }
  @media all and (max-width: 750px) {
    .privacypolicy p {
      line-height: 1.9em; } }

.button {
  width: 300px;
  height: 70px;
  line-height: 70px;
  margin: 0 auto;
  background: #8E765E;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  /* 750以下  */ }
  .button:hover {
    background: #6E5640; }
  @media all and (max-width: 750px) {
    .button {
      width: 335px; } }

.button a {
  display: block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #fff;
  /* 750以下  */ }
  @media all and (max-width: 750px) {
    .button a {
      font-size: 14px; } }

/*# sourceMappingURL=common.css.map */